################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/15NET.FIAP.Xamarin/v16/Server/sqlite3/db.lock
